*{
	box-sizing: border-box;
}

body{
    height:100vh;
    min-width:320px;
    margin:0;
    padding:0;
}
 img{
     max-width:100%;
     object-fit:contain;
 }

 p{
     line-height:1.6;
 }
.container{
   min-width:100%;
   margin: 0;
   padding:0!important;
}

.title{
    margin-bottom:30px; 
    width:100%;
    text-align:center;
    font-size:56px;
}
.nav{
    display:flex;
    justify-content:center;
    width:100%;
    position:fixed;
    background:#FFF;
    top:0;
    left:0;
    z-index:2;
}
.nav__item{
    margin:15px 30px;
    font-weight:600;
    position:relative;
}
a{
    color:black;
    text-decoration:none;
}
a:hover{
    text-decoration:none!important;
}
.nav__item a:after{
    content:"";
    position:absolute;
    border-bottom:2px solid black;
    margin: 0 auto;
    bottom:-2px;
    left:0;
    right:0;
    width:0;
    transition:.5s;
}
.nav__item a:hover:after{
    width:100%;
}
.about{
    position:relative;
    background:#333333;
    padding:10% 8%;
    width:100%;
    color:white;
}
.content{
    position:relative;
    padding-bottom:30%;
    height:100vh;
    width:100%;
}
.scroll{
    background:#FFF;
    font-size:24px;
    text-align:center;
}
.home{
    display:flex;
    flex-wrap: wrap;
}
.tere{
    width:100%;
    text-align:center;
    font-size:20px;
}
.prog{
    width:100%;
}
.module{
    background:#FFF;
    padding:0 7% 8% 7%; 
}   
.contact{
    padding:0 7% 7% 7%;
    background:#FFF;
}
.dropdown{
    display:flex;
    flex-wrap:wrap;
    padding:50px 0;
}
.drops{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
}
.dropdown h2{
    width:100%;
    text-align:center;
    margin:30px;
}

/* analüüs */
.year{
    position:relative;
}
.yeartitle{
    font-size:26px;
    font-weight:400;
    margin-top:45px;
}
.yeartitle:after{
    position: absolute;
    content: "";
    border-bottom: 2px solid black;
    width:13%;
    left:0;
    top:30px;
}
#tick-mark {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #00ff00;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #00ff00;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
.selfmodule{
    font-size:18px;
    padding-top:25px;
}
/* dropdown*/
.dropbtn {
  background-color: #333333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:10px;
  width:80%;
  height:80px;
  outline:none;
}
.dropbtn:focus {
    outline:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
  width:25%;
  margin:50px 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width:80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:10px;
  margin-left:10%;
}

/* Links inside the dropdown */
.dropdown1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown1-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown1-content {
  display: block;
}

a.dropbtn{
    text-decoration:none;
    color:white !important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn {
  background-color: #404040;
}
.self{
    padding:5% 8% 0;
}
.cwrapper{
    display:flex;
    flex-wrap: wrap;
}
.cont{
    width:100%;
}
.icon{
    margin:5% 5% 0 0;
    font-size:18px;
}
.icon span{
    margin-left:10px;
}
footer{
    background:#FFF;
    text-align:center;
    height:40px;
    width:100%;
    
    padding:10px;
}
footer span{
    margin-top:10%;
}

/* mooduli lehed */

.aine{
    margin-top:5%;
}
.ained p{
    padding:5px 0;
}
.iicontainer{
    padding:15% 0 10% 0;
}
.heading h1{
    margin-bottom:8%
}
.sisu {
    padding: 0 20%;
}
.aine h5{
    margin-bottom:2%;
    font-weight:bold;
}
.pildid{
    display:flex;
    justify-content: space-between;
    padding-bottom:50px;
}
.pildid img{
    width: 25%;
    height:auto;
}
.pool{
    display:flex;
}
.pool p{
    margin-top:20px;
    padding-right:20px;
}
#ga{
    margin-bottom:0;
}
.pool img{
    width:50%;
}
.christmas{
    width:25%;
}
.divider{
    display:flex;
}
.divider-text{
    width:75%;
}
.kunst-image{
    max-width:100%;
}
.alused{
    display:flex;
}
.alused p{
    width:40%;
    padding-right:20px;
}
.alused a{
    width:60%;
}
.arendus-pildid{
    display:flex;
    padding:15px 0;
}
.arendus-pildid a{
    width:50%;
}

/* progress bars*/ 
.prog h5{
    width:100%;
}
.prog{
    display:flex;
    height:auto;
    padding-top:10%;
}
  
.bar{
    width:100%;
    text-align:center;
}
.bar p{
    margin:0;
}
.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px!important;
    align-items: center;
    position: relative;
    padding: 0;
    display: flex;
    height: 15px;
    width: 60%;
    margin-bottom:10px;
    margin:auto;
} 
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(39, 221, 2);
    height: 16px;
    width: 0;
    animation-delay:.5s;
  }
  .progress1-value {
    animation: load1 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(226, 16, 0);
    height: 16px;
    width: 0;
    animation-delay:.5s;
  }
  .progress2-value {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(39, 221, 2);
    height: 16px;
    width: 0;
    animation-delay:.5s;
  }
  .progress3-value {
    animation: load3 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(255, 184, 31);
    height: 16px;
    width: 0;
    animation-delay:.5s;
  }
  .progress4-value {
    animation: load4 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(255, 184, 31);
    height: 16px;
    width: 0;
    animation-delay:.5s;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 68%; }
  }
  @keyframes load1 {
    0% { width: 0; }
    100% { width: 18%; }
  }
  @keyframes load2 {
    0% { width: 0; }
    100% { width: 60%; }
  }
  @keyframes load3 {
    0% { width: 0; }
    100% { width: 50%; }
  }
  @keyframes load4 {
    0% { width: 0; }
    100% { width: 45%; }
  }

  @media only screen and (max-width: 900px){
    .dropdown1{
        width:100%;
        text-align:center;
    }
    .dropdown{
        padding:0;
    }
    .dropbtn{
        width:80%;
        height:70px;
        font-size:14px;
    }
    .about{
        padding: 25% 8% 10% 8%;
    }
    .heading h1{
        font-size:26px;
        margin-bottom:15%;
    }
    .dropdown1-content{
        margin-left:10%;
    }
    .iicontainer{
        padding-bottom: 20%;
    }
    .aine h5{
        font-size:18px;
        margin:15% 0 3% 0;
    }
    .opivaljund h4{
        font-size:18px;
    }
    .home{
        display:block;
    }
    .tere{
        width: 100%;
        font-size:16px;
    }
    .prog{
        width:100%;
        padding-left:0;
        flex-wrap:wrap;
    }
    .progress{
        width:100%;
    }
    .bar{
        padding-top:15px;
    }
    .pool{
        display:block;
    }
    .pool p{
        padding-right:0;
    }
    .pool img{
        width:100%;
    }
    .divider{
        flex-wrap:wrap;
    }
    .divider-text{
        width:100%;
    }
    .christmas{
        width:50%;
        margin:auto;
    }
    .alused{
        display:block;
    }
    .alused p{
      width:100%;  
    }
    .alused img{
        width:100%;
    }
    .sisu{
        padding: 0 10%;
    }
}

  @media only screen and (min-width: 1850px){
    .title {
        font-size:64px;
    }
    p{
        font-size:24px;
    }
    .yeartitle{
        font-size:36px;
    }
    .yeartitle:after{
        top:42px;
        width:17%;
    }
    .tere{
        font-size:26px;
        padding-top:5%;
    }
    .selfmodule{
        font-size:24px;
    }
    .module{
        padding: 0 15% 5% 15%;
    }
    .contact{
        padding: 3% 15% 5% 15%;
    }
    .w-100{
        font-size:64px;
    }
    .nav_item, a{
        font-size:24px;
    }
    .opivaljund{
        font-size:24px;
    }
.aine h5{
    font-size:32px;
    }
    .icon{
        font-size:24px;
    }
    a{
        font-size:26px;
    }
    .dropbtn{
        font-size:20px;
    }
    .dropdown1-content a{
        font-size:20px;
    }
    .sisu{
        padding:0 25%;
    }
}
@media only screen and (max-width: 500px){
    
    h1{
        font-size:32px!important;
    }
    .icon{
        width: 100%;
        font-size:16px;
    }
    footer span{
        font-size:12px;
    }
    .yeartitle{
        margin-top:20px;
    }
    .yeartitle:after{
        width:50%;
    }
    .sisu{
        padding: 0 5%;
    }
    .content{
        padding-top:0;
    }
    .about{
        position:relative;
        height:auto;
        top:0;
    }
    .iicontainer{
        padding-top:25%;
    }
    .arendus-pildid{
        display:block;
    }
    .self{
        padding:5% 0;
    }
}

@keyframes bounce {
    0% {
        transform:translate(0px, 10px);
    }
    25%{
        transform:translate(0px, -8px);
    }
    50%{
        transform:translate(0px, 4px);
    }
    75%{
        transform:translate(0px, -8px);
    }
    100%{
        transform:translate(0px, 10px);
    }
}

.fa-arrow-down{
    animation:bounce 2s infinite ease-in-out forwards;
   
}

@media only screen and (max-width: 321px){
    .nav{
        font-size:14px;
    }
}
@media only screen and (min-width: 1025px){

.about{
    position:fixed;
    top:54px;
    left:0;
    height:calc(100vh - 45px);
    background:#333333;
    padding:10% 8%;
    width:100%;
    color:white;
}
.content{
    position:relative;
    padding-top: calc(100vh - 45px);
    padding-bottom:30%;
    height:100vh;
    width:100%;
}
}
